<div class="page-header">
	<h1>User Regis</h1>
</div>

<form ng-submit="register.regUser();"> 
  <label>pno</label>
  <input class="form-control" type="text" name="usernum" placeholder="please enter your phone no." ng-model="register.regData.usernum">
  <br>
  <label>Password</label>
  <input class="form-control" type="password" name="password" placeholder="password please" ng-model="register.regData.password">
<br>
<br>
  <button class="btn btn-primary" type="submit">Register</button>
</form>
<br><br>

<div class="jumbotron text-center" ng-show="register.loading">
		<span class="glyphicon glyphicon-repeat spinner"></span>
		<p> Loading ...</p>

</div>


<div class="row " ng-show='register.successMsg'>
	<div class="alert alert-success">  {{register.successMsg}} </div>
</div>
<br>
<div class="row"  ng-show='register.errorMsg'>
	<div class="alert alert-danger">  {{register.errorMsg}} </div>
</div>
